@use '../../styles/variables' as *;

.chat-bubble {
  max-width: 80%;
  width: fit-content; 
  padding: 20px;
  border-radius: 12px 12px 6px;
  margin: 0;
  word-wrap: break-word;
  font-size: 1rem;
  line-height: 1.5;
  background: $chat-agent-bg;
  align-self: flex-start;
  font-family: 'Open Sans', $font-main;

  &.user {
    background: $chat-user-bg;
    align-self: flex-end;
  }

  p {
    margin: 0;
  }
}